################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tetris/.vs/tetris/v15/Browse.VC.opendb
